/* Styling the paragraph text and aligning it to the left */
p{
    clear: left;
    background-color: white;
    margin-left: 14px;
    margin-right: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Styling the body and clearing any unrequired margin */
body{
    clear: left;
    clear: right;
    margin-left: none;
    font-family: monospace; /* Setting a font to match the clone image provided */
    font-size: 15px; 
    background-color: rgb(242, 242, 242);
    margin: -5px; /* Setting the margin to -5 to remove unwanted margin from all sides */
}

/* Styling the section and setting it bg to white */
section{
    background-color: white;
    clear: left;
    clear: right;
    width: 100%;
    margin: auto;
}

/* Setting the bg and padding for the header */
header{
    background-color: white;
    padding-top: 5px;
}

/* styling the svg by setting a fixed width, height and margins */
svg{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 8px;
    width: 70px;
    height: 70px;
}

/* Using float left... aligning all the images to the left side and setting their width so they match the clone images */
img{
    float: left;
    width: 33.3%;
}

/* styling the footer and setting its bg to  black */
footer{
    background-color: black;
    color:white;
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
    margin:auto;
}

/* adding the media queries for screens with size less than 480px */
@media  screen and (max-width: 480px) {

    img {
        width: 100%;
        float: left;
    }

    body{
        background-color: white;
    }
}

/* adding media queries for screen sizes between 481px and 800px */
@media  screen and (min-width: 481px) and (max-width: 800px) {

    img{
        width: 50%;
        float: left;
    }
    body{
        background-color: white;
    }
}

/* adding media queries for screen sizes between 801px and 1025px */
@media screen and (min-width: 801px) and (max-width: 1023px) {
    img {
        width: 33.5%;
        float: left; 
        margin-right: -3px;
    }
    body{
        background-color: white;
        padding-right: -5px;
    }
}

/* adding media queries for screen sizes more than 1024px */
@media screen and (min-width: 1024px){
    img {
        width: 33.301%;
        float: left; 
    }

    body{
        margin-left: 200px;
        margin-right: 200px;
        background-color: lightgray;
    }

    section{
        padding-right: -10px;
        margin: auto;
    }
    
}
